{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Pet Info</h5>
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    <p class="card-text">{{pet.age|linebreaks}}</p>
    <p class="card-text">Availablity: {{pet.available}}</p>
    <p class="card-text">price: {{pet.price}}</p>
    <img src="{{pet.image.url}}" alt="pet">
    <div class="row text-center">
        <div class="col-md-6">
            <a href="{% url 'pet-update' pet.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'pet-delete' pet.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
    </div>
  </div>
</div>
{% endblock content %}